<section id="els-view" class="mainbar" data-ng-controller="els as search">
    <section class="matter">
        <div class="container-fluid">
            <div id="Search" layout="row" layout-align="center center" class=" input-append row-fluid">
                <input type="text" class="form-control md-whiteframe-z5"
                       data-ng-change="search.autoFill()" data-ng-keyup="search.trySearch($event)"
                       data-ng-model=" search.searchText" placeholder="  Search"
                       typeahead=" auto for auto in search.autoText| filter:$viewValue | limitTo:4" typeahead-loading="loading" />
                <i ng-show="search.autocompleLoading" class="glyphicon glyphicon-refresh"></i>
                <md-button class="md-raised md-primary" data-ng-click="search.search()" aria-label="search">
                    <i class="fa fa-search"> Search </i>
                    <md-tooltip>
                        {{search.Syntax.title}}  {{search.Syntax.Description}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-raised md-primary" data-ng-click="search.refresh($event)" aria-label="refresh">
                    <i class="fa fa-refresh"> Refresh </i>
                    <md-tooltip>
                        Refesh View
                    </md-tooltip>
                </md-button>
                <md-select placeholder="Pick" ng-model="search.field">
                    <md-option value="{{doc}}" data-ng-repeat="doc in search.fieldsName">{{doc}}</md-option>
                </md-select>
                <span flex></span>
                <div class="btn-group pull-right" dropdown>
                    <md-button class="btn btn-info dropdown-toggle " dropdown-toggle aria-label="time">
                        History <span class="caret"></span>
                        <md-tooltip>
                            Choose Time Span
                        </md-tooltip>
                    </md-button>
                    <ul class="dropdown-menu" role="menu">
                        <div ng-repeat="choice in search.it">
                            <md-button class="md-grid-item-content" ng-click="search.filterst(choice)" style="width: 90%">
                                <div layout="row">
                                    <li class="md-grid-text"> {{ choice }} </li> <span flex></span>
                                </div>
                            </md-button>
                        </div>
                        <md-divider></md-divider>
                        <md-button class="md-grid-item-content" data-ng-click="search.showListBottomSheet()" style="width: 90%">
                            <div layout="row">
                                <li class="md-grid-text"> More Span ?</li><span flex></span>
                            </div>
                        </md-button>
                    </ul>
                </div>
            </div>
            <md-card id="function" class="widget wlightblue" collapse="false">
                <div data-cc-widget-header title="{{search.title}}"
                     allow-collapse="true"></div>
                <div class="widget-content" style="display: none;">
                    <div id="1" layout="row" layout-align="center center">
                        <md-input-container>
                            <label> Location </label>
                            <input ng-model="search.asyncSelected"
                                   typeahead="address for address in search.getLocation($viewValue)" typeahead-loading="loadingLocations"
                                   class="form-control" style="width: 100%">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                        </md-input-container>
                        <span flex></span>
                        <select flex="10" class="form-control dissolve-animation" ng-model="search.format" ng-options="f for f in search.formats" ng-show="search.timeShow"><option></option></select>

                        <input flex="10" type="text" class="form-control dissolve-animation" datepicker-popup="{{search.format}}" ng-model="search.st"
                               is-open="search.timeopened" datepicker-options="search.dateOptions"
                               date-disabled="search.disabled(date, mode)" ng-required="true" close-text="Close" placeholder="  start date" ng-show="search.timeShow" ng-change="search.timeChange()" />
                        <md-button class="md-fab md-mini" data-ng-click="search.timeopen($event)" aria-label="st">
                            <i class="fa fa-calendar"></i>
                            <md-tooltip>
                                Start Date
                            </md-tooltip>
                        </md-button>
                        <input flex="10" type="text" class="form-control dissolve-animation" datepicker-popup="{{search.format}}" ng-model="search.ft"
                               is-open="search.ftimeopened" datepicker-options="search.dateOptions"
                               date-disabled="search.disabled(date, mode)" ng-required="true" close-text="Close" placeholder="  end date" ng-show="search.timeShow" ng-change="search.timeChange()" />
                        <md-button class="md-fab md-mini" data-ng-click="search.ftimeopen($event)" aria-label="ft">
                            <i class="fa fa-calendar"></i>
                            <md-tooltip>
                                End Date
                            </md-tooltip>
                        </md-button>
                    </div>
                    <div id="distance Unit">
                        <md-radio-group ng-model="search.dunit" class="pull-right">
                            <md-radio-button value="mi" class="md-primary"> Mile </md-radio-button>
                            <md-radio-button value="km"> Kilometer </md-radio-button>
                        </md-radio-group>
                    </div>
                    <div id="2" layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary" data-ng-click="search.transferLocation()" aria-label="location">
                            <i class="fa fa-globe"></i>
                            <md-tooltip>
                                Address to Cordinates
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-click="search.timeShow=!search.timeShow" aria-label="show">
                            <i ng-class="{'fa fa-arrow-right': search.timeShow, 'fa fa-arrow-left': !search.timeShow}"></i>
                            <md-tooltip>
                                Show Time
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-primary md-hue-1"> Distance </md-button>
                        <md-slider ng-model="search.distance" flex min="0" max="9999" aria-label="blue" id="blue-slider" class="md-primary"></md-slider>
                        <input type="number" ng-model="search.distance" aria-label="blue" aria-controls="blue-slider">
                    </div>
                    <div layout="column" id="filter" class="btn-group"></div>
                    <div layout="row" id="FilterButton">
                        <md-button addfilter count="search.count" selectfield="search.fieldsName" condition="search.condition" class="md-raised md-primary" aria-label="add filter">
                            <i class="fa fa-plus-square"></i>
                            <md-tooltip>
                                Add Filter
                            </md-tooltip>
                        </md-button>
                        <md-button removefilter count="search.count" condition="search.condition" class="md-raised md-primary" aria-label="remove filter">
                            <i class="fa fa-minus-square"></i>
                            <md-tooltip>
                                Remove Filter
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-click="search.fillText()" aria-label="fill">
                            <i class="fa fa-apple"> Fill </i>
                            <md-tooltip>
                                Fill SearchText
                            </md-tooltip>
                        </md-button>
                    </div>
                </div>
            </md-card>
            {{search.st}}
            {{search.ft}}
            <md-card id="processbar" layout="column" layout-align="space-around">
                <div ng-show="search.processSearch" layout="column" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </div>
            </md-card>
            <div id="result">
                <div id="Paging" layout="row" class="widget-foot">
                    <div class="clearfix"></div>
                    <pagination boundary-links="true" class="pagination-sm md-whiteframe-z5"
                                total-items="search.pagetotal" items-per-page="search.paging.pageSize" data-ng-model="search.paging.currentPage"
                                data-ng-change="search.pageChanged()" max-size="search.paging.maxPagesToShow"
                                previous-text="Prev" next-text="Next" first-text="First" last-text="Last">
                    </pagination>
                    <div class="clearfix"></div>
                </div>
                <md-card id="google list">
                    <md-toolbar md-scroll-shrink>
                        <div class=" md-toolbar-tools" style="font-size: 15px">
                            <md-button class="md-icon-button" aria-label="r1">
                                <md-icon md-svg-icon="menu"></md-icon>
                            </md-button>
                            <h3 style="color: whitesmoke">
                                <span>Google List</span> ({{search.pagetotal}} / {{search.total}})
                            </h3>
                            <span flex></span>
                            <span>Page {{search.paging.currentPage}} of {{search.paging.pageCount}}</span>
                            <span flex="5"></span>
                            <md-select placeholder="Pick" ng-model="search.paging.pageSize" ng-change="search.pageChanged()">
                                <md-optgroup label="PageSize">
                                    <md-option ng-value="{{p}}" ng-repeat="p in search.pagesizeArr">{{p}}</md-option>
                                </md-optgroup>
                            </md-select>
                            <md-select placeholder="Pick" ng-model="search.pagecount" ng-change="search.refreshPage()">
                                <md-optgroup label="ResultSize">
                                    <md-option ng-value="{{p}}" ng-repeat="p in search.pagecountArr"><h5>{{p}}</h5></md-option>
                                </md-optgroup>
                            </md-select>
                            <md-button class="md-icon-button" aria-label="r2" ng-click="search.showlist()">
                                <md-icon md-svg-icon="menu"></md-icon>
                                <md-tooltip>
                                    Better View
                                </md-tooltip>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-content id="google" style="height: 600px;" ng-if="search.hitSearch.length>0" class="dissolve-animation">
                        <md-list>
                            <md-list-item class="md-3-line fader-animation" ng-repeat="doc in search.res| orderBy:predicate:reverse">
                                <div class="md-list-item-text " data-ng-dblclick="search.showResult(doc)">
                                    <h3> {{doc._source['timestamp']}} </h3>
                                    <h6> {{doc._source.message}} </h6>
                                </div>
                                <md-divider inset></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-card>
            </div>
        </div>
    </section>
</section>
