<section class="mainbar" data-ng-controller="show as vm">
    <section class="matter">
        <div class="container-fluid">
            <div id="Paging" layout="row" layout-align="center center" class="widget-foot">
                <div class="clearfix"></div>
                <pagination boundary-links="true" class="pagination-sm"
                            total-items="vm.pagetotal" items-per-page="vm.paging.pageSize" data-ng-model="vm.paging.currentPage"
                            data-ng-change="vm.pageChanged()" max-size="vm.paging.maxPagesToShow"
                            previous-text="Prev" next-text="Next" first-text="First" last-text="Last">
                </pagination>
                <div class="clearfix"></div>
                <span flex></span>
                <md-button class="md-raised md-primary" data-ng-click="vm.backPage()" aria-label="back">
                    <md-icon md-svg-src="backpage" style="color: white"></md-icon>
                </md-button>
            </div>
            <div id="CotentTable" class="widget wgreen">
                <div class="pull-right">
                    <md-select placeholder="Pick" ng-model="vm.paging.pageSize" ng-change="vm.pageChanged()">
                        <md-optgroup label="PageSize">
                            <md-option ng-value="{{p}}" ng-repeat="p in vm.pagesizeArr">{{p}}</md-option>
                        </md-optgroup>
                    </md-select>
                    <md-select placeholder="Pick" ng-model="vm.pagecount" ng-change="vm.refreshPage()">
                        <md-optgroup label="ResultSize">
                            <md-option ng-value="{{p}}" ng-repeat="p in vm.pagecountArr"><h5>{{p}}</h5></md-option>
                        </md-optgroup>
                    </md-select>
                </div>
                <div data-cc-widget-header title="{{vm.title}}" subtitle="{{vm.pagenumber}} / {{vm.pagetotal}}"
                     right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"
                     allow-collapse="true"></div>
                <div class="widget-content">
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                            <tr>
                                <th class="message">Time&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[0], 'glyphicon-chevron-up': !vm.trend[0]}" data-ng-click="vm.predicate = '_source.timestamp'; reverse=!reverse;vm.trend[0]=!vm.trend[0]"></i></th>
                                <th class="message">Nation&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[1], 'glyphicon-chevron-up': !vm.trend[1]}" data-ng-click=" vm.predicate='_source.geoip.country_name' ; reverse=!reverse;vm.trend[1]=!vm.trend[1]"></i></th>
                                <th class="message">City&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[2], 'glyphicon-chevron-up': !vm.trend[2]}" data-ng-click=" vm.predicate='_source.geoip.city_name' ; reverse=!reverse;vm.trend[2]=!vm.trend[2]"></i></th>
                                <th class="message">User&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[3], 'glyphicon-chevron-up': !vm.trend[3]}" data-ng-click=" vm.predicate='_source.ident' ; reverse=!reverse;vm.trend[3]=!vm.trend[3]"></i></th>
                                <th class="message">Action&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[4], 'glyphicon-chevron-up': !vm.trend[4]}" data-ng-click=" vm.predicate='_source.action' ; reverse=!reverse;vm.trend[4]=!vm.trend[4]"></i></th>
                                <th class="message">Score&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': vm.trend[5], 'glyphicon-chevron-up': !vm.trend[5]}" data-ng-click=" vm.predicate='_score' ; reverse=!reverse;vm.trend[5]=!vm.trend[5]"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fader-animation" data-ng-repeat="doc in vm.res| orderBy:vm.predicate:reverse" data-ng-click="vm.showResult(doc)">
                                <td>{{doc._source['UTCtimestamp']| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                                <td>{{doc._source.geoip.country_name}}</td>
                                <td>{{doc._source.geoip.city_name}}({{doc._source.geoip.real_region_name}})</td>
                                <td>{{doc._source.ident}}</td>
                                <td>{{doc._source.action}}</td>
                                <td>{{doc._score}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
