<section class="mainbar" data-ng-controller="show as vm">
    <section class="matter">
        <div class="container-fluid">
            <div id="elsPaging" layout="row" class="widget-foot">
                <div class="clearfix"></div>
                <pagination boundary-links="true"
                            total-items="vm.tt"
                            items-per-page="vm.paging.pageSize"
                            data-ng-model="vm.paging.currentPage"
                            data-ng-change="vm.pageChanged()"
                            max-size="vm.paging.maxPagesToShow"
                            class="pagination-sm"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last"></pagination>
                <div class="clearfix"></div>
                <span flex></span>
                <md-button class="md-raised md-primary" data-ng-click="vm.backPage()">
                    <md-icon md-svg-src="backpage" style="color: white"></md-icon>
                </md-button>
            </div>
            <div id="resultShow" class="widget wgreen">
                <div class="pull-right">
                <md-select placeholder="Pick" ng-model="vm.paging.pageSize" ng-change="vm.refreshPage()">
                    <md-optgroup label="PageSize">
                        <md-option ng-value={{p}} ng-repeat="p in vm.pagesizeArr">{{p}}</md-option>
                    </md-optgroup>
                </md-select>
                <md-select placeholder="Pick" ng-model="vm.pagecount" ng-change="vm.refreshPage()">
                    <md-optgroup label="ResultSize">
                        <md-option ng-value={{p}} ng-repeat="p in vm.pagecountArr"><h5>{{p}}</h5></md-option>
                    </md-optgroup>
                    <md-option value={{vm.total}}>{{vm.total}}</md-option>
                </md-select>
                </div>
                <div data-cc-widget-header title="{{vm.title}}"
                     subtitle="{{vm.paging.pageSize}} / {{vm.tt}}"
                     right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"
                     allow-collapse="true"></div>
                <div class="widget-content">
                    {{vm.tt}}
                    <table class="table table-striped table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="message" width="15%">Time&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend[0], 'glyphicon-chevron-up': !trend[0]}" data-ng-click="predicate = '_source.timestamp'; reverse=!reverse;trend[0]=!trend[0]"></i></th>
                            <th class="message">Location&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend[1], 'glyphicon-chevron-up': !trend[1]}" data-ng-click=" predicate='_source.geoip.city_name' ; reverse=!reverse;trend[1]=!trend[1]"></i></th>
                            <th class="message">User&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend[2], 'glyphicon-chevron-up': !trend[2]}" data-ng-click=" predicate='_source.ident' ; reverse=!reverse;trend[2]=!trend[2]"></i></th>
                            <th class="message">Action&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend[3], 'glyphicon-chevron-up': !trend[3]}" data-ng-click=" predicate='_source.action' ; reverse=!reverse;trend[3]=!trend[3]"></i></th>
                            <th class="message" width="10%">Score&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend[4], 'glyphicon-chevron-up': !trend[4]}" data-ng-click=" predicate='_score' ; reverse=!reverse;trend[4]=!trend[4]"></i></th>
                            <!--<th class="message">Index&nbsp;<i class="glyphicon" ng-class="{'glyphicon-chevron-down': trend, 'glyphicon-chevron-up': !trend}" data-ng-click=" predicate='_index' ; reverse=!reverse;trend=!trend"></i></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="fader-animation" data-ng-repeat="doc in vm.res| orderBy:predicate:reverse" data-ng-click="vm.open(doc)">
                            <td>{{doc._source['UTCtimestamp']| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                            <td>{{doc._source.geoip.city_name}}</td>
                            <td>{{doc._source.ident}}</td>
                            <td>{{doc._source.action}}</td>
                            <td>{{doc._score}}</td>
                            <!-- <td>{{doc._index}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
