<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as dashboard">
    <section class="matter">
        <div class="container">
            <div id="dashSpinner">
                <div data-ng-show="dashboard.isBusy" class="page-splash dissolve-animation">
                    <div data-cc-spinner="dashboard.spinnerOptions"></div>
                    <div class="page-splash-message page-splash-message-subtle">{{dashboard.busyMessage}}</div>
                </div>
            </div>


            <div id="1" layout="row" layout-align="center start" style="height: 30%">
                <md-card id="dChart" flex="60" class="widget wgreen">
                    <div data-cc-widget-header title=" PieChart" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div layout="row" style="height: 250px">
                            <div flex="33" id="pie_div1"></div>
                            <div flex="33" id="pie_div2"></div>
                            <div flex="33" id="pie_div3"></div>
                        </div>
                    </div>
                </md-card>
                <md-card id="dChart2" flex="40" class="widget wviolet">
                    <div data-cc-widget-header title=" BarChart" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div id='DateHist_div' style="height: 250px"></div>
                    </div>
                </md-card>
            </div>
            <md-card id="2" layout="row" layout-align="center start">
                <div id="gMap" flex="50" class="widget wlightblue">
                    <md-select class="pull-right" placeholder="Pick" ng-model="dashboard.geomap2selection" ng-change="dashboard.changeMap()" aria-label="s1">
                        <md-option value="USA">USA</md-option>
                        <md-option value="World">World</md-option>
                        <md-option value="City">City</md-option>
                    </md-select>
                    <md-select class="pull-right" placeholder="Pick" ng-model="dashboard.geoCount" ng-change="dashboard.changeMap()" aria-label="s2">
                        <md-option value="50">50</md-option>
                        <md-option value="100">100</md-option>
                        <md-option value="200">200</md-option>
                    </md-select>
                    <div data-cc-widget-header title=" Region Map" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div id="gmap_div" style="height: 400px"></div>
                    </div>
                </div>
                <div id="dMap" flex="50" class="widget waqua">
                    <md-select class="pull-right" placeholder="Pick" ng-model="dashboard.mapCount" ng-change="dashboard.changeMap2()" aria-label="s3">
                        <md-option value="15">15</md-option>
                        <md-option value="30">30</md-option>
                        <md-option value="50">50</md-option>
                    </md-select>
                    <div data-cc-widget-header title=" City Map" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div id="dmap_div" style="height: 400px"></div>
                    </div>
                </div>
            </md-card>
            <div id="3" layout="row" layout-align="center start" style="height: 30%">
                <md-card id="dChart3" flex="100" class="widget wblue">
                    <div data-cc-widget-header title=" TimeLine" allow-collapse="true"></div>
                    <div class="widget-content">
                        <div id='TimeLine_div' style="height: 400px"></div>
                    </div>
                </md-card>
            </div>
            <div layout="row" id="dtable_div" ng-show="false">
            </div>
        </div>
    </section>
</section>
