<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div id="dashSpinner">
                <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
                    <div data-cc-spinner="vm.spinnerOptions"></div>
                    <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
                </div>
            </div>
            <!--<md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="gcollapse=!gcollapse">
                        <md-icon md-svg-icon="content/images/icon/ic_menu_18px.svg"></md-icon>
                    </md-button>
                    <h3 style="color: whitesmoke">
                        <span> Region Map </span>
                    </h3>
                    <span flex></span>
                    <md-select placeholder="Pick" ng-model="vm.geomap2selection" ng-change="vm.changeMap()">
                        <md-option value="USA">USA</md-option>
                        <md-option value="World">World</md-option>
                        <md-option value="City">City</md-option>
                    </md-select>
                    <md-select placeholder="Pick" ng-model="vm.geoCount" ng-change="vm.changeMap()">
                        <md-option value="50">50</md-option>
                        <md-option value="100">100</md-option>
                        <md-option value="200">200</md-option>
                    </md-select>
                </div>
            </md-toolbar>
            <md-content style="height: 600px;" collapse="gcollapse">
                <div id="gmap_div" style="height: 75%; width: 100%"></div>
            </md-content>

            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools md-accent">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="gcollapse2=!gcollapse2">
                        <md-icon md-svg-icon="content/images/icon/ic_menu_18px.svg"></md-icon>
                    </md-button>
                    <h3 style="color: whitesmoke">
                        <span> City Map </span>
                    </h3>
                    <span flex></span>
                    <md-select placeholder="Pick" ng-model="vm.mapCount" ng-change="vm.changeMap2()">
                        <md-option value="15">15</md-option>
                        <md-option value="30">30</md-option>
                        <md-option value="50">50</md-option>
                    </md-select>
                </div>
            </md-toolbar>
            <md-content style="height: 600px;" collapse="gcollapse2">
                <div id="dmap_div" style="height: 70%; width: 100%"></div>
            </md-content>-->

             <md-select class="pull-right" placeholder="Pick" ng-model="vm.geomap2selection" ng-change="vm.changeMap()">
                <md-option value="USA">USA</md-option>
                <md-option value="World">World</md-option>
                <md-option value="City">City</md-option>
            </md-select>
            <md-select class="pull-right" placeholder="Pick" ng-model="vm.geoCount" ng-change="vm.changeMap()">
                <md-option value="50">50</md-option>
                <md-option value="100">100</md-option>
                <md-option value="200">200</md-option>
            </md-select>

            <div id="gMap" class="widget wlightblue">
                <div data-cc-widget-header title=" Region Map" allow-collapse="true"></div>
                <div class="widget-content">
                    <div id="gmap_div" style="height: 75%; width: 100%"></div>
                </div>
            </div>
             <md-select class="pull-right" placeholder="Pick" ng-model="vm.mapCount" ng-change="vm.changeMap2()">
                 <md-option value="15">15</md-option>
                 <md-option value="30">30</md-option>
                 <md-option value="50">50</md-option>
             </md-select>
             <div id="dMap" class="widget waqua">
                 <div data-cc-widget-header title=" City Map" allow-collapse="true"></div>
                 <div class="widget-content">
                     <div id="dmap_div" style="height: 70%; width: 100%"></div>
                 </div>
             </div>
            <div id="dChart" class="widget wgreen">
                <div data-cc-widget-header title=" Chart" allow-collapse="true"></div>
                <div class="widget-content">
                    <div layout="row" style="height: 33%; width: 100%">
                        <div id="pie_div1" flex="33" ng-click="vm.test()"></div>
                        <div id="pie_div2" flex="33"></div>
                        <div id="pie_div3" flex="33"></div>
                        <!--<tr>
                            <td width="33%">
                                <div id="pie_div1" ng-click="vm.test()"></div>
                            </td>
                            <td width="33%">
                                <div id="pie_div2"></div>
                            </td>
                            <td width="34%">
                                <div id="pie_div3"></div>
                            </td>
                        </tr>-->
                    </div>
                    <div layout="row" id='DateHist_div' style='width: 100%; height: 33%;'></div>
                    <div layout="row" id='TimeLine_div' style='width: 100%; height: 33%;'></div>
                    <div layout="column" id="dtable_div"></div>
                </div>
            </div>
        </div>
    </section>
</section>