<md-sidenav id="timeSidenav" class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">History</h2>
    </md-toolbar>
    <md-content data-ng-controller="timeSideNav as timeSideNav" layout-padding>
        <section layout="row" layout-sm="column" layout-align="center center" ng-repeat="t in timeSideNav.time" ng-click="timeSideNav.nav(t)" style="min-width: 90%">
            <md-button style="min-width: 85%">{{t}}</md-button>
            <div class="label">Flat</div>
        </section>
        <md-button ng-click="timeSideNav.close()" class="md-primary" layout-align="center center">
            Close
        </md-button>
    </md-content>
</md-sidenav>