<div data-ng-controller="shell as vm">
    <div id="loadSpinner">
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>
    </div>
    <header class="clearfix">       
        <div data-ng-include="'app/layout/topnav.html'"></div>
    </header>
    <br><br><br>
    <section id="content" class="content">
        <div data-ng-include="'app/layout/sidebar.html'"></div>
        <div data-ng-view class="fader-animation"></div>
    </section>

</div>

