<div id="mainshell" data-ng-controller="shell as shell">
    <header class="clearfix">
        <div data-ng-include="'app/layout/topnav.html'"></div>
    </header>
    <section class="content" id="shell" style="padding-top: 80px">
        <div data-ng-include="'app/layout/sidebar.html'"></div>
        <div data-ng-view class="fader-animation"></div>
    </section>
    <div id="sideNav">
        <div data-ng-include="'app/layout/timesidebar/timeSideNav.html'"></div>
        <div data-ng-include="'app/layout/menusidebar/menuSideNav.html'"></div>
    </div>
    <div data-ng-show="$root.spinner" class="page-splash dissolve-animation">
        <div data-cc-spinner="shell.spinnerOptions"></div>
    </div>
</div>

