<div id="sidebar" data-cc-sidebar data-ng-controller="sidebar as sidebar">
    <div class="sidebar-filler"></div>

    <div class="sidebar-dropdown">
        <a href="#">Menu</a>
    </div>

    <div class="sidebar-inner">
        <div class="sidebar-widget">
            <md-button class="btn btn-large btn-notext " style="width: 100%; margin-left: 0px; background-color: transparent;
                                     color: skyblue" ng-click="collapse=!collapse" aria-label="sidebar">
                <md-icon md-svg-src="menu" style="color: white"></md-icon>
            </md-button>
        </div>
        <ul id="facet" class="navi" collapse="collapse">

            <ul class="md-menu-item" ng-repeat="f in sidebar.facet">
                <md-button ng-click="sidebar.showFacet(f)" style="width: 100%; margin-left: 0">
                    <div layout="row">
                        {{f.title}}  <span flex></span> <md-icon md-svg-src={{f.icon}} style="color: white"></md-icon>
                    </div>
                </md-button>
                <ul collapse="f.collapse" class="nlightblue fade-selection-animation" data-ng-repeat="r in f.data">
                    <md-button ng-click="sidebar.sidebarNav(r,f.field)" style="width: 100%; height: 20%">
                        <div layout="row">
                            <h6 style="font-size: 11px; letter-spacing: 1px">{{r.Key.toString()}} ({{r.DocCount}})</h6><span flex></span>
                        </div>
                    </md-button>
                    <md-tooltip md-direction="right">
                        {{r.Key.toString()}} ({{r.DocCount}})
                    </md-tooltip>
                    <!--<ul collapse="f.collapse" class="nlightblue fade-selection-animation">
                        <li class="nlightblue fade-selection-animation" data-ng-click="sidebar.sidebarNav(r,f.field)"
                            data-ng-repeat="r in f.data">
                            $1$<a style="color: whitesmoke"> {{r.key.toString()}} ({{r.doc_count}}) </a>#1#
                            <a style="color: whitesmoke"> {{r.Key.toString()}} ({{r.DocCount}}) </a>
                        </li>
                    </ul>-->
                </ul>
            </ul>
            <li class="nlightblue fade-selection-animation" ng-click="sidebar.showSettingBottomSheet($event)"> <a><i class="fa fa-cog fa-2x"></i>  Settings </a></li>
        </ul>
    </div>
</div>
