<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="topnav as vm">


    <div id="HeaderTop"class="row-fluid">
        <div class=" navbar-header">
            <a href="#/" class="navbar-brand"><span class="brand-title">Enterprise Logging System</span></a>
            <!--<img style="max-width:100px; margin-top: -7px;"
                     src="/img/transparent-white-logo.png">-->
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <input type="text" ng-model="vm.searchText" placeholder=" search " data-ng-keyup="vm.autoFill()"
               typeahead=" record for record in vm.ip| filter:$viewValue | limitTo:5" typeahead-loading="loading" class="form-control">
        <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>

 <!--       <input type="text" ng-model="vm.searchText" placeholder=" search "
               typeahead="record for record in vm.suggest($viewValue) | limitTo:5" typeahead-loading="loading" class="form-control">-->
       
            <button class="btn btn-large btn-info btn-notext ng-click-active" type="button" data-ng-click="vm.search($event)">
                <i class="fa fa-search"> Search </i>
            </button>
            <button class="btn btn-large btn-info btn-notext ng-click-active" type="button" data-ng-click="vm.refresh($event)">
                <i class="fa fa-refresh"> Refresh </i>
            </button>

            <button class="btn btn-large btn-info btn-notext ng-click-active pull-right" type="button" data-ng-click="vm.logout()">
                <i class="fa fa-sign-out"></i>
            </button>
</div>


    <div class="navbar-collapse collapse">
        <div class="row-fluid">
            <div class="col-md-4 pull-left">
                <div class="navbar-collapse collapse">
                    <tabset justified="true" type="pills">
                        <tab heading="Dashboard" data-ng-click="vm.path(1)"></tab>
                        <tab heading="ELS" data-ng-click="vm.path(2)"></tab>
                        <tab heading="Aggragation" data-ng-click="vm.path(3)"></tab>
                        <tab heading="TODO" data-ng-click="vm.path(4)"></tab>
                    </tabset>
                </div>
            </div>
        </div>

        <div class="btn-group pull-right" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-info dropdown-toggle " dropdown-toggle ng-disabled="disabled">
                History <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="choice in vm.it" data-ng-click="vm.filterst(choice,$event)">
                <a>{{choice}}</a>
                <li class="divider"></li>
                <li><a href="#/dashboard">Separated link</a></li>
            </ul>
        </div>

        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.renweb.com/" target="_blank">
                        by Renweb
                    </a>
                </li>
            </ul>
        </div>
    </div>



</nav>