<nav id="nav" class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="topnav as topnav">
    <div id="1" layout="row" layout-align="center center" style="height: 50px">
        <div id="icon" class=" navbar-header">
            <a href="#/" class="navbar-brand">
                <span class="brand-title" ng-click="toggleLeft()">Enterprise Logging System</span>
            </a>
            <!--<img style="max-width:100px; margin-top: -7px;"
                     src="/img/transparent-white-logo.png">-->
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">1</span>
                <span class="icon-bar">2</span>
                <span class="icon-bar">3</span>
            </a>
        </div>
        <input type="text" ng-model="topnav.searchText" placeholder=" search "
               data-ng-change="topnav.autoFill()" data-ng-keyup="topnav.search($event)"
               typeahead=" auto for auto in topnav.autoText | filter:$viewValue | limitTo:4"
               typeahead-loading="loading" class="form-control">
        <i ng-show="topnav.autocompleLoading" class="glyphicon glyphicon-refresh" style="color:white"></i>
        <!--<md-input-container flex="50" class="md-default-theme" style="background-color: white;height: inherit">
            <input ng-model="project.rate" placeholder=" search ">
        </md-input-container>-->
        <md-button class="md-raised md-primary" data-ng-click="topnav.search($event)">
            <md-icon md-svg-src="search" style="color: white"></md-icon> Search
        </md-button>
        <md-button class="md-raised md-primary" data-ng-click="topnav.refresh($event)" aria-label="refresh">
            <md-icon md-svg-src="refresh" style="color: white"></md-icon> Refesh
            <md-tooltip>
                Refresh Page
            </md-tooltip>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button md-primary pull-right" aria-label="out" data-ng-click="topnav.logout()">
            <md-icon md-svg-src="logout" style="color: white"></md-icon>
            <md-tooltip>
                Log out
            </md-tooltip>
        </md-button>
    </div>
    <div id="2" layout="row" layout-align="space-between center" style="height: 50px">
        <span flex="10"></span>
        <md-button class="md-icon-button" aria-label="Setting1" ng-click="topnav.openNav('menu')" style="background-color: transparent">
            <md-icon md-svg-icon="menu" style="color: white"></md-icon>
            <md-tooltip>
                Menu
            </md-tooltip>
        </md-button>
        <div flex="40" class="navbar-collapse collapse">
            <md-tabs md-selected="topnav.selectedIndex" md-border-bottom data-ng-click="topnav.path()">
                <md-tab id="tab1" ng-repeat="tab in topnav.tabs">
                    <md-tab-label>{{tab}}</md-tab-label>
                    <md-tooltip>
                        {{tab}}
                    </md-tooltip>
                </md-tab>
            </md-tabs>
        </div>
        <md-button class="md-icon-button" aria-label="Setting2" ng-click="topnav.openNav('time')" style="background-color: transparent">
            <md-icon md-svg-icon="menu" style="color: white"></md-icon>
            <md-tooltip>
                Choose Time Span
            </md-tooltip>
        </md-button>
        <div class="navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.renweb.com/" target="_blank">
                        by Renweb
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>