<section class="mainbar" data-ng-controller="aggs as vm">
    <section class="matter">
        <div class="container-fluid">
            <div id="spinner">
                <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
                    <div data-cc-spinner="vm.spinnerOptions"></div>
                    <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
                </div>
            </div>

            <div id="Header" class="row-fluid">
                <button data-ng-click="vm.aggShow(vm.aggName)" class="btn btn-info btn-notext" type="button">
                    <i class="fa fa-pie-chart">Show</i>
                </button>

                <select ng-model="vm.index" class="form-control" data-ng-click="vm.getTypeName()" style="width: 150px">
                    <option selected value="all">all</option>
                    <option value={{doc}} data-ng-repeat="doc in vm.indicesName">{{doc}} </option>
                </select>
                <select ng-model="vm.type" class="form-control" style="width: 50px" ng-show="false">
                    <option selected value="all"> all</option>
                    <option value={{doc}} data-ng-repeat="doc in vm.typesName">{{doc}} </option>
                </select>

                <select ng-model="vm.aggName" class="form-control" style="width: 100px">
                    <option selected value="all">all</option>
                    <option value={{doc}} data-ng-repeat="doc in vm.fieldsName">{{doc}} </option>
                </select>
                <button class="btn btn-large btn-info btn-notext pull-right" type="button" data-ng-click="vm.refresh()">
                    <i class="fa fa-refresh"> Refresh </i>
                </button>
                <button class="btn btn-large btn-info btn-notext pull-right" type="button" data-ng-click="vm.go()">
                    <i class="fa fa-refresh"> Result </i>
                </button>
            </div>

            <div id="Content1" class="row-fluid">
                {{vm.searchText}}
                <button class="btn btn-large btn-info btn-notext pull-right" type="button" data-ng-click="vm.clear()">
                    <i class="fa fa-trash-o"> Clear </i>
                </button>
                <div class="fader-animation" data-ng-repeat="doc in vm.refinedsearch">
                    <li>{{doc.key}} : {{doc.value}}</li>
                </div>

                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}" subtitle="{{vm.total}}"
                         allow-collapse="true"></div>
                    <div class="widget-content">
                        <div id="treemap_div" style="height: 65%;" ng-show="vm.treestatus"></div>
                    </div>
                </div>

            </div>

            <div id="Content2" class="widget wlightblue">
                <div data-cc-widget-header title="{{vm.title2}}"
                     allow-collapse="true"></div>
                <div class="widget-content" style="display: none;">
                    <div id="div2"></div>
                    <table class=" table table-striped table-condensed table-hover" ng-show="vm.token">
                        <thead>
                            <tr>
                                <th class="Token" data-ng-click="predicate = '_source.ip'; reverse=!reverse">Token&nbsp;</th>
                                <th class="Number" data-ng-click="predicate = '_source.username'; reverse=!reverse">Number&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="fader-animation" data-ng-repeat="doc in vm.hitSearch| orderBy:predicate:reverse" data-ng-click="vm.test()">
                                <td>{{doc.key}}</td>
                                <td>{{doc.doc_count}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="dashboard">
                        <table class="columns">
                            <tr>
                                <td>
                                    <div id="filter_div"></div>
                                    <div id="chart_div" data-ng-click="vm.test()"></div>
                                </td>
                                <td>
                                    <div id="table_div"></div>


                                    <div id="map_div" style="width: 400px; height: 300px;"></div>
                                    <div id="table"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="table2_div"></div>
                </div>


            </div>


        </div>
    </section>


</section>





<!-- <div data-ng-attr-id={{vm.dashboard}}>
    Divs that will hold each control and chart
    <table class="columns">
        <tr>
            <td>
                <div data-ng-attr-id={{vm.range}}></div>
                <div data-ng-attr-id={{vm.barchart}} class="fader-animation"></div>
            </td>
            <td>
                <div data-ng-attr-id={{vm.tablechart}}></div>
            </td>
        </tr>
    </table>
</div>-->
