<section class="mainbar" data-ng-controller="aggs as aggragation">
    <section class="matter">
        <div class="container-fluid">
            <md-card id="header">
                <div layout="row" layout-align="center center" style="height: 45px">
                    <md-button class="md-raised md-primary" data-ng-click="aggragation.show()" ng-disabled="aggragation.process">
                        <i class="fa fa-pie-chart"> Show </i>
                    </md-button>
                    <md-select placeholder="Pick" ng-model="aggragation.index" style="width: 20%">
                        <md-option value="all">all</md-option>
                        <md-option value={{doc}} data-ng-repeat="doc in aggragation.indicesName">{{doc}}</md-option>
                    </md-select>
                    <md-select placeholder="Pick" ng-model="aggragation.aggName">
                        <md-option value="all">all</md-option>
                        <md-option value={{doc}} data-ng-repeat="doc in aggragation.fieldsName">{{doc}}</md-option>
                    </md-select>
                    <div id="aggprocesser" layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate" ng-show="aggragation.process"></md-progress-circular>
                    </div>
                    <span flex></span>

                    <md-button class="md-raised md-primary" data-ng-click="aggragation.go()" ng-disabled="aggragation.process">
                        <i class="fa fa-wifi"> Result </i>
                    </md-button>
                    <md-button class="md-raised md-primary" data-ng-click="aggragation.refresh()" ng-disabled="aggragation.process">
                        <i class="fa fa-refresh"> Refresh </i>
                    </md-button>
                    <md-button class="md-raised md-primary" data-ng-click="aggragation.clear()" ng-disabled="aggragation.process">
                        <i class="fa fa-trash-o"> Clear </i>
                    </md-button>
                </div>
                <div layout="column" layout-align="center start" class="fader-animation" data-ng-repeat="doc in aggragation.refinedsearch">
                    <a>{{doc.key}} : {{doc.value}}</a>
                </div>
            </md-card>
            <div id="treemap" class="widget wblue">
                <md-select placeholder="Pick" class="pull-right" ng-model="aggragation.treesize" ng-change="aggragation.treesizeChange()">
                    <md-option value=10>10</md-option>
                    <md-option value=20>20</md-option>
                    <md-option value=50>50</md-option>
                    <md-option value=100>100</md-option>
                </md-select>
                <div data-cc-widget-header title="{{aggragation.title}}" subtitle="{{aggragation.total}}"
                     allow-collapse="true"></div>
                <div class="widget-content">
                    <div id="treemap_div" style="height: 600px;" ng-show="aggragation.treestatus"></div>
                </div>
            </div>
            <div id="piechart" class="widget wlightblue">
                <div data-cc-widget-header title="{{aggragation.title2}}"
                     allow-collapse="true"></div>
                <div class="widget-content" style="display: none;">
                    <div id="div2" layout="column"></div>
                    <md-toolbar md-scroll-shrink ng-show="aggragation.token">
                        <div class="md-toolbar-tools">
                            <h3 style="color:whitesmoke">
                                <span>Google List</span>
                            </h3>
                        </div>
                    </md-toolbar>
                    <md-content style="height: 600px;" ng-show="aggragation.token">
                        <md-list>
                            <md-list-item class="md-3-line fader-animation" ng-repeat="doc in aggragation.hitSearch| orderBy:predicate:reverse">
                                <div class="md-list-item-text" data-ng-dblclick="aggragation.test()">
                                    <h3> {{doc.Key}} </h3>
                                    <h3> {{doc.DocCount}} </h3>
                                </div>
                                <md-divider inset></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                    <div id="dashboard">
                        <table class="columns">
                            <tr>
                                <td>
                                    <div id="filter_div"></div>
                                    <div id="chart_div" data-ng-click="aggragation.test()"></div>
                                </td>
                                <td>
                                    <div id="table_div"></div>
                                    <div id="table"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


