<section class="mainbar" data-ng-controller="els as vm">
    <div id="splash-page" data-ng-show="vm.showSplash">
        <div class="page-splash">
            <div class="page-splash-message">
                Loading
            </div>
            <div class="progress progress-striped active page-progress-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>

  
    
<section class="matter">
<div class="container-fluid">
    <div class="input-append row-fluid">
        <input type="text" class="form-control"
               data-ng-model="vm.searchText"
               placeholder="  Search"/>
        <button class="btn btn-large btn-info btn-notext" type="button" data-ng-click="vm.search()">
            <i class="fa fa-search"> Search </i>
        </button>
        <button class="btn btn-large btn-info btn-notext" type="button" data-ng-click="vm.refresh($event)">
            <i class="fa fa-refresh"> Refresh </i>
        </button>
        <button class="btn-group-sm" type="button">
            <i class="fa fa-question-circle" tooltip="{{vm.Syntax.title}}+{{vm.Syntax.Description}}" tooltip-trigger="click" tooltip-placement="right"> </i>
        </button>
     

        <select ng-model="vm.field" class="form-control" style="width: 120px">
            <option value="" disabled selected>Select your Field</option>
            <option value="all">all</option>
            <option value={{doc}} data-ng-repeat="doc in vm.fieldsName">{{doc}} </option>
        </select>


        <button type="button" class="btn btn-default" ng-click="vm.toggleMin()" tooltip="After today restriction">Min date</button>

        <div class="btn-group pull-right" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle " dropdown-toggle ng-disabled="disabled">
                History <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-model="vm.dadjust">
                <li ng-repeat="choice in vm.it" data-ng-click="vm.filterst(choice)">
                <a>{{choice}}</a>
                <li class="divider"></li>
                <li><a href="#/dashboard">Separated link</a></li>
            </ul>
        </div>

      

        <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.st"
                   is-open="vm.timeopened" min-date="vm.minDate"  datepicker-options="vm.dateOptions"
                   date-disabled="vm.disabled(date, mode)" ng-required="true" close-text="Close" placeholder="  start date" ng-show="false" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-lg" ng-click="vm.timeopen($event)"><i class="fa fa-calendar"> Ini Day </i></button>


                <input type="text" class="form-control" datepicker-popup="{{vm.format}}" ng-model="vm.ft"
                       is-open="vm.ftimeopened" min-date="vm.minDate"  datepicker-options="vm.dateOptions"
                       date-disabled="vm.disabled(date, mode)" ng-required="true" close-text="Close" placeholder="  end date" ng-show="false" />

                <button type="button" class="btn btn-lg" ng-click="vm.ftimeopen($event)"><i class="fa fa-calendar"> End Day </i></button>

                <select class="form-control" ng-model="vm.format" ng-options="f for f in vm.formats" ng-show="false"><option></option></select>

            </span>
        </div>
    </div>
    <div class="input-append row-fluid">           

      
        <div id="filter" class="btn-group">
            <input type="text" size="8"
                   data-ng-model="vm.fi"
                   placeholder="  Filter " />
            <select id="test" ng-model="vm.filterAggName" class="input-medium" style="width: 100px">
                <option value={{doc}} data-ng-repeat="doc in vm.fieldsName">{{doc}} </option>
            </select>
            <select ng-model=" vm.condition" >      
                <option selected value='MUST'>MUST</option>
                <option vaule='MUST_NOT'>MUST_NOT</option>
                <option vaule='SHOULD'>SHOULD</option>
            </select>
            <button data-ng-click="vm.test()" class="btn btn-info btn-notext " type="button">
                <i class="fa fa-pie-chart">Test</i>
            </button>
        </div>
        <addbuttonsbutton></addbuttonsbutton>

    </div>


   
    

        <div class="row-fluid">
            <div>
                <div id="space-for-buttons"></div>
                <select ng-model="vm.pagecount" class="input-medium pull-right" ng-click="vm.refreshPage()">
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option vaule=50>50</option>
                    <option vaule=100>100</option>
                    <option selected vaule=1000>1000</option>
                </select>
                <select ng-model=" vm.paging.pageSize" class="input-medium pull-right" ng-click="vm.refreshPage()">
                    <option selected value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option vaule=50>50</option>
                    <option vaule=100>100</option>
                </select>
                        
            </div>
            <br><br>
            <hr />
        </div>
       <progressbar class="progress-striped active" value="vm.dynamic" type="{{vm.ptype}}">{{vm.ptype}} <i ng-show="showWarning">!!! Watch out !!!</i></progressbar>

        <div class="row-fluid">
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.title}}"
                     subtitle="{{vm.tt}} / {{vm.total}}"
                     right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"></div>
            </div>
            <div data-ng-repeat="doc in vm.hits.buckets" class="fader-animation" data-ng-style="vm.mystyle">
                <h2>key: {{doc.key}} --- count: {{doc.doc_count}}</h2>
            </div>


            <table class="table table-striped table-condensed table-hover">
                <thead>

                    <tr>
                        <!-- <th class="ip" data-ng-click="predicate = '_source.clientip'; reverse=!reverse">Ip&nbsp;</th>
                        <th class="username" data-ng-click="predicate = '_source.username'; reverse=!reverse">UserName&nbsp;</th>
                        <th class="response" data-ng-click="predicate = '_source.response'; reverse=!reverse">Response&nbsp;</th>-->

                        <th class="message" data-ng-click="predicate = '_source.timestamp'; reverse=!reverse">Time&nbsp;</th>
                        <th class="message" data-ng-click="predicate = '_source.message'; reverse=!reverse">Message&nbsp;</th>
                        <th class="message" data-ng-click="predicate = '_score'; reverse=!reverse">_score&nbsp;</th>
                        <th class="message" data-ng-click="predicate = '_index'; reverse=!reverse">Index&nbsp;</th>
                    </tr>
                </thead>


                <tbody>
                    <tr class="fader-animation" data-ng-repeat="doc in vm.res| orderBy:predicate:reverse" data-ng-click="vm.open(doc)">
                        <!-- <td>{{doc._source.clientip}}</td>
                        <td>{{doc._source.username}}</td>
                        <td>{{doc._source.response}}</td>-->
                        <td>{{doc._source.timestamp| date:'medium'}}</td>
                        <td>{{doc._source.message}}</td>
                        <td>{{doc._score}}</td>
                        <td>{{doc._index}}</td>
                    </tr>
                </tbody>

            </table>


            <script type="text/ng-template" id="myModalContent.html">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{title}}"></div>
                </div>
               
                <hr />
                <div class="modal-body">
                   <table class="columns">
                       <col width="500">
                    <tr>
                        <td width="500">
                            <h3> All Message Field </h3>
                            <div class="gridStyle2" ng-grid="gridOptions"></div>
                        </td>

                        <td width="500">
                            <h3> User Basic Information </h3>
                            <div class="gridStyle" ng-grid="gridOptions2"></div>
                            <br><br> <hr />    
                            <h3> User Action Information </h3>
                            <div class="gridStyle" ng-grid="gridOptions3"></div>                            
                        </td>
                    </tr>
                       <tr>
                           <td width="500">                        
                           </td>
                           <td width="500">
                              
                           </td>

                       </tr>
                      </table>
                    <hr />          
                    {{mySelections}}
                        
                        <ul>
                            <!--  <li ng-click="selected.item = items._source.timestamp"><h5>Time :  <a>{{items._source.timestamp}}</a></h5></li>
                                    <li ng-click="selected.item = items._source.clientip"><h5>UserIP : </h5></li> <a ng-click="selected.item = 'clientip'">{{items._source.clientip}}</a>
                                    <li ng-click="selected.item = items._source.username"><a>UserName :  </a>{{items._source.username}}</li>
                                    <li ng-click="selected.item = items._source.verb"><a>HTTPmethod :  </a>{{items._source.verb}}</li>
                                    <li ng-click="selected.item = items._source.request"><a>ResponseApi :  </a>{{items._source.request}}</li>
                                    <li ng-click="selected.item = items._source.response"><a>Response :  </a>{{items._source.response}}</li>
                                    <li ng-click="selected.item = items._source.referrer"><a>Refferrer :  </a>{{items._source.referrer}}</li>
                                    <li ng-click="selected.item = items._source.agent"><a>Browser :  </a>{{items._source.agent}}</li>
                                    <li ng-click="selected.item = items._source.message"><a>Message :  </a>{{items._source.message}}</li>
                                    <li ng-click="selected.item = items._source.bytes"><a>MessageBytes :  </a>{{items._source.bytes}}</li>
                                    <li ng-click="selected.item = items._source.action"><a>UserAction :  </a>{{items._source.action}}</li>
                                    <li ng-click="selected.item = items._source.geoip"><a>Location :  </a>{{items._source.geoip|json}}</li>
            -->
                            <!--<ul ng-repeat="item in items._source">
            <li ng-click="selected.item = item">{{field}}{{ item|json }}</li>

            </>-->
                        </ul>
                        Selected: <b>{{ selected.item |json }}</b>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>







            <div class="widget-foot">
                <div class="clearfix"></div>
                <pagination boundary-links="true"
                            total-items="vm.tt"
                            items-per-page="vm.paging.pageSize"
                            data-ng-model="vm.paging.currentPage"
                            data-ng-change="vm.pageChanged()"
                            max-size="vm.paging.maxPagesToShow"
                            class="pagination-sm"
                            previous-text="Prev"
                            next-text="Next"
                            first-text="First"
                            last-text="Last"></pagination>
                <div class="clearfix"></div>
            </div>

           
           

        </div>

    </div>
  
<!-- <div data-ng-repeat="doc in vm.t">
    {{doc}}
</div>-->

<!-- <div data-ng-repeat="doc in vm.hitSearch">
    {{doc._source.ip}} <br>

</div>-->
    {{vm.vm.hitSearch}}
    {{vm.st}}
    {{vm.ft}}
    {{d}}
</section>
</section>
