<div class="mainbar" data-ng-controller="TODO as vm">
    <section class="matter">
        <!--<img src="battlefield.jpg" style="height: 100%; width: 100%"/>-->

        <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
            <md-button class="md-primary" ng-click="showListBottomSheet($event)">
                Show as List
            </md-button>
            <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
                Show as Grid
            </md-button>
        </div>
        <br/>
        <b layout="row" layout-align="center center" layout-margin>
            {{alert}}
        </b>
    </section>

</div>
